table {
    width: 100%;
    background-color: black;
    color: white;
}
table ul {
    list-style-type: none;
    padding: 0;
}
table th, td {
    width: 20%;
    vertical-align: top;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}
table th {
    padding-top: 20px;
}
.grey {
    color: #5E665C;
}
#foot-header {
    padding-left: 25px;
    font-size: 130%;
}
