body,h1, h2, p, a {
    margin: 0;
    padding: 0;
    color:#2c425a;
}

body {
    padding: 10px;
}

h1 {
    font-size: 20px;
    padding: 10px 20px;
}

h2 {
    font-size: 16px;
}

a {
    text-decoration: none;
    float: left;
    width: 31%;
    margin: 5px;
}

.main {
    width: 39%;
    margin-left: 10px;
    float:left;
}

.sub {
    border: 1px solid red;
    overflow: auto;
    border: 1px solid #daeefa;
    border-radius: 10px 10px 0 10px;
    padding: 10px;
}

.sub p {
    font-size: 15px;
}
img {
    margin: 5px 0 0 0;
}

footer p {
    width: 40%;
    background: #2c425a;
    color: #fff;
    float: right;
    border-radius: 10px 0 0 0;
    padding: 5px 10px;
    margin: 5px -10px -10px 0;
 
}

aside {
    float: left;
    width: 18%;
    margin-top: -2.5%;
    background: #fcf7ff;
    border: 1px solid #daeefa;
}

    aside div {
        text-align: center;
        width: 98%;
        margin: 0 auto;
        padding: 3% 0;
    }

.min-value {
    float: left;
    margin-top: 20px;
}

.max-value {
    float: right;
    margin-top: 20px;
}

.item {
    font-size: 19px;
}

.range {
    width: 98%;
    margin: 0 auto;
}
