@font-face {
    font-family: Tryst;
    src: url(../fonts/tryst.otf);
}

body {
    margin: 0;
    padding: 0;
    font-size: 25px;
}

section {
    padding: 10px;
}

h1 {
    font-family: Tryst;
    color: #474747;
    background: url(../images/wordpressbig.jpg) no-repeat;
    line-height: 80px;
    padding: 0 0 0 85px;
    margin: 10px 0;
}

span {
    font-size: 18px;
}

button {
    padding: 0 15px;
}

form {
    margin-top: 20px;
}

.first-letter {
    font-size: 140%;
}

.blue {
    color: #1e78a2;
    font-size: 37px;
}

.submit {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.submit:hover {
    cursor: pointer;
}

.text {
    padding: 18px 18px 0;
}
img {
    margin-bottom: -6px;
}